<div class="container  mt-4 mb-4">
    <div class="row">
        <div class="col-3">
            <a routerLink="/" class="btn btn-danger">
                volver
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto ">
            <div class="card">
                <div class="card-header">
                    <h2>Nuevo Contacto</h2>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Nombre</label>
                            <input type="text" name="nombre" [(ngModel)] = "contact.nombre" class="form-control"  placeholder="agregar nombre">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido</label>
                            <input type="text"  name="apellido" [(ngModel)] = "contact.apellido"  class="form-control"  placeholder="agregar apellido">
                        </div>
                        <div class="form-group">
                            <label for="">Telefono</label>
                            <input type="text" name="telefono" [(ngModel)] = "contact.telefono"  class="form-control"  placeholder="agregar telefono">
                        </div>
                       
                            <button class="btn btn-primary btn-block mt-3 " (click) ="saveContact()" >
                                Guardar
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
